.floor-buttons {
    -jfx-button-type: RAISED;
    -fx-background-color: #0b2f5b;
    -fx-text-fill: #F5BC3A;
    -fx-background-radius: 20;
}

.yellow-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #F5BC3A;
    -fx-background-radius: 40;
    -fx-effect: dropshadow(gaussian, BLACK, 10, 0, 0, 0);
}
.yellow-button:hover {
    -fx-background-color: #efaf1c;
    -fx-effect: dropshadow(gaussian, BLACK, 10, 0, 0, 0);
}

.highlight-floor-button {
    -fx-background-color: #F5BC3A;
    -fx-text-fill: #0b2f5b;
    -jfx-button-type: RAISED;
    -fx-background-radius: 20;
}