.tree-table-view {
    -fx-background-color: WHITE;


}

.tree-table-view .column-header .label{
    -fx-text-fill: rgba(0, 0, 0, .87);
}

.tree-table-view .tree-table-cell{
    -fx-padding: 0 0 0 16;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: LIGHTGREY;
}

.directions .tree-table-cell{
    -fx-border-width: 0 0 0 0;
}

.tree-disclosure-node {
    -fx-padding: 21 0 0 5;
}
